.section-about__pre-title{
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36363636;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;
    margin-left: 80px;

    &::before {
    content: '';
    position: absolute;
    transform: rotate(90deg);
    top: -22px;
    left: -49px;
    width: 1px;
    height: 60px;
    background-color: $main-color;
  }
}
.section-about__title{
    font-family: $title-font;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17857143;
    letter-spacing: 0.05em;
    color: $main-color;
    margin: 0 128px 20px 0;
}
.section-about__after-title{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.02em;
    color: #555555;
    margin: 0 0 20px 0;
}
.section-about__text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.86;
letter-spacing: 0.02em;
color: #555555;
margin: 0 0 40px 0;
}

.section-about__button{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33333333;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid $hover-color;
    border-radius: 25px;
    cursor: pointer;
    color: $main-color;
    background-color: transparent;
    padding: 12px 20px;

    &:hover,
    &:focus {
    background-color: $hover-color;
  }
}