.section-advantages__pre-title{
    position: relative;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.3636;
text-transform: uppercase;
color: $main-color;
margin: 0 0 20px 80px;

&::before {
    content: '';
    position: absolute;
    transform: rotate(90deg);
    top: -22px;
    left: -50px;
    width: 1px;
    height: 60px;
    background-color: $main-color;
  }
}
.section-advantages__title{
font-family: $title-font;
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: calc(49 / 42);
letter-spacing: 0.04em;
color: $main-color;
margin-bottom: 20px;
}
.section-advantages__after-title{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: #555555;
margin-bottom: 44px;
}

.advantages-set{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.advantages-set__item{

    background-color: #F7F7F7;
    text-align: center;
    padding: 20px 35px;
    width: 193px;
    height: 133px;

    &:nth-child(even){
        margin-top: 35px;
    }
}
.advantages-set__number{
position: relative;
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.36;
letter-spacing: 0.05em;
color: #303030;
margin-bottom: 6px;
}
.sign{
position: absolute;
top: 6px;
left: 76px;
font-weight: 600;
font-size: 16px;
line-height: calc(22 / 16);
color: #FF6C00;
}
.sign-two{
position: absolute;
top: 6px;
left: 50px;
font-weight: 600;
font-size: 16px;
line-height: calc(22 / 16);
color: #FF6C00;
}
.advantages-set__text{
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 1.363636;
color: #303030;
}